{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Edit Booking (Pending)</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="start_date" class="form-label">Start Date:</label>
            <input type="date" id="start_date" name="start_date" class="form-control" value="{{ booking.start_date|date:"Y-m-d" }}" required>
            <div class="invalid-feedback">
                Please choose a valid start date.
            </div>
        </div>
        <div class="mb-3">
            <label for="end_date" class="form-label">End Date:</label>
            <input type="date" id="end_date" name="end_date" class="form-control" value="{{ booking.end_date|date:"Y-m-d" }}" required>
            <div class="invalid-feedback">
                Please choose a valid end date.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update Booking</button>
    </form>
</div>

<!-- JS form validation -->
<script>
    // Prevent form submission with invalid fields via immidiate respond
    (function () {
      'use strict'
      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
    })()
</script>
{% endblock %}
